table {
  font-family: 'Open Sans', sans-serif;
  width: 1500px;
  border-collapse: collapse;
  border: 3px solid #44475C;
  margin: 10px 10px 0 10px;
  table-layout: fixed;
}

table th {
  text-transform: uppercase;
  text-align: center;
  background: #44475C;
  color: #FFF;
  cursor: pointer;
  padding: 8px;
  min-width: 30px;
}
table th:hover {
  background: #717699;
}
table td {
  text-align: left;
  padding: 8px;
  border-right: 2px solid #7D82A8;
}
table td:last-child {
  border-right: none;
}
table tbody tr:nth-child(2n) td {
  background: #D4D8F9;
}

.pagination {
  font-family: 'Open Sans', sans-serif;
  text-align: right;
  width: 1500px;
  padding: 8px;
}

.flecha_abajo {
  background-image: url('./icons/outline_arrow_drop_down_white_36dp.png')
}
.flecha_arriba {
  background-image: url('./icons/outline_arrow_drop_up_white_36dp.png')
}
.flecha {
  float: right;
  width: 30px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
}

.numero {
  display: inline-block;
  padding: 4px 10px;
  color: #FFF;
  border-radius: 4px;
  background: #44475C;
  margin: 0px 5px;
  cursor: pointer;
}
.numero:hover, .numero.activo {
  background: #717699;
}